.img-thumbnail{
  width: 75%;
  height: 75%;
  margin: 25px;
}

.card-body{
  padding: 0 25px;
}

.card-footer{
  border: none;
  padding: 10px 15px;
  background-color: #fff;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}
